<div id="login" class="container">
    <div class="input-group has-feedback">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	    <input type="text" class="form-control"  id="username" placeholder="Enter username" ng-model="{{$this.username}}" />
      <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
    </div>
    <div class="input-group has-feedback">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
  	  <input type="password" class="form-control" id="password" placeholder="Enter password"  ng-model="{{$this.password}}" />
      <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
    </div>
    <div class="form-group">
	    <button type="submit" class="btn btn-default">Submit</button>
  	</div>
</div>
